body{
    text-align: center;
}
h3{
   font-size:medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h4{
color:lightblue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
font-weight:600;
}

p{
    color:lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr{
    color:aquamarine;
}

label{
    color:aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

button{
    background-color:darkcyan;
    color:aliceblue;
}

#camera{
    border:2px dashed white;
    width:350px;
    height:300px;
}
